<div class="container">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
		<a class="nav-link active" routerLink="laptop">Laptops</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="tv">Tvs</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="camera">Cameras</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="cell phone">Cell phones</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" routerLink="home appliance">Home appliances</a>
	  </li>
	</ul>
	<hr>
	<div class="py-4">
		<router-outlet></router-outlet>
	</div>
</div>
