<div class="container-fluid">
	<h4>List products</h4>
	<hr>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12" *ngFor="let value of productObj">
				<div class="row">
					<div class="col-md-4">
					<img class="img-fluid" src="{{value.img}}" />
					</div>
					<div class="col-md-4">
						<p style="font-size: 25px">{{value.name}}</p>
						<p>{{value.manufacturer}}</p>
						<p>{{value.model}}</p>
						<p class="text-danger">CDN$ {{value.price}}</p>
					</div>
					<div class="col-md-4">
						<div class="d-flex">
							<button type="button" class="btn btn-primary" routerLink="edit/{{value._id}}">edit</button>
							<button type="button" class="btn btn-danger" (click)="deleteItem(value._id)">delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div>
