<div class="border">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" (click)="productTypeOutput('laptop')">Laptops</li>
        <li class="list-group-item" (click)="productTypeOutput('camera')">Cameras</li>
        <li class="list-group-item" (click)="productTypeOutput('tv')">Tvs</li>
        <li class="list-group-item" (click)="productTypeOutput('cell phone')">Cell phones</li>
        <li class="list-group-item" (click)="productTypeOutput('Home appliance')">Home appliances</li>
      </ul>
</div>
