
<div class="container py-5">

	<h3>Shopping cart</h3>
	<hr>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Info</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
	  <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of items">
      <th scope="row"><img class="img-fluid" src="{{value.img}}" width="200" /></th>
      <td>
        <p>{{value.name}}</p>
        <p>{{value.manufacturer}}</p>
        <p>{{value.model}}</p>
      </td>
      <td class="text-danger">CDN$ {{value.price}}</td>
      <td>{{value.quantity}}</td>
	  <td><button type="button" (click)="onDelete(value._id)" class="btn btn-primary">Delete</button></td>
    </tr>
    
  </tbody>
</table>

</div>
