<!--The content below is only a placeholder and can be replaced.-->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a routerLink="" routerLinkActive="active" class="navbar-brand">TechWorld</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav float-left">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex flex-grow-1">
      <div class="input-group mb-3 my-auto mx-auto w-75">
		  <input type="text" class="form-control" style="line-height:10px" placeholder="Product search" aria-label="Search" aria-describedby="basic-addon2">
		  <button type="submit" class="input-group-append btn py-0 px-0 border-0 rounded-right">
			<i class="fa fa-search input-group-text py-2" id="basic-addon2" aria-hidden="true" ></i>
		  </button>
		</div>
    </form>
	<ul class="navbar-nav align-item-end">
	  <li class="nav-item border-right">
        <a routerLink="/cart" routerLinkActive="active" class="nav-link d-flex"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:28px"></i> <span class="my-auto px-1">(0) items</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>

<router-outlet></router-outlet>

