<div class="container-fluid py-2">
	<h3 class="py-3 text-center">Admin's Dashboard</h3>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group">
			  <a class="list-group-item" routerLink="customers">Customers</a>
			  <a class="list-group-item" routerLink="add-products">Add products</a>
			  <a class="list-group-item" routerLink="list-products">List products</a>
			  <a class="list-group-item" routerLink="customers">Porta ac consectetur ac</a>
			  <a class="list-group-item" routerLink="customers">Vestibulum at eros</a>
			</ul>
		</div>
		<div class="col-md-9">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
