<div class="container my-5">
  <div class="col-md-6 col-md-offset-2 mx-auto">
    <h2 class="py-2">Add product: Tv</h2>
    <form [formGroup]="laptopForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
		<div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <input type="manufacturer" formControlName="manufacturer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.manufacturer.errors }" />
            <div *ngIf="submitted && f.manufacturer.errors" class="invalid-feedback">
                <div *ngIf="f.manufacturer.errors.required">Manufacturer is required</div>
            </div>
		</div>
		<div class="form-group">
            <label for="model">Model</label>
            <input type="model" formControlName="model" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.model.errors }" />
            <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                <div *ngIf="f.model.errors.required">Model is required</div>
            </div>
        </div>
		<div class="form-group">
            <label for="type">Type</label>
            <input type="type" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">Type is required</div>
            </div>
        </div>
		<div class="form-group">
            <label for="img">img</label>
            <input type="img" formControlName="img" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.img.errors }" />
            <div *ngIf="submitted && f.img.errors" class="invalid-feedback">
                <div *ngIf="f.img.errors.required">img is required</div>
            </div>
        </div>
		<div class="form-group">
            <label for="price">price</label>
            <input type="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">Price is required</div>
            </div>
        </div>
		<div formGroupName="specs">
			<h3>Specifications:</h3>
			<hr>
			<div class="form-group">
				<label for="Part_Number">Part_Number</label>
				<input type="Part_Number" formControlName="Part_Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Part_Number.errors }" />
				<div *ngIf="submitted && s.Part_Number.errors" class="invalid-feedback">
					<div *ngIf="s.Part_Number.errors.required">Part Number is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Scanner_Resolution">Scanner Resolution</label>
				<input type="Scanner_Resolution" formControlName="Scanner_Resolution" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Scanner_Resolution.errors }" />
				<div *ngIf="submitted && s.Scanner_Resolution.errors" class="invalid-feedback">
					<div *ngIf="s.Scanner_Resolution.errors.required">Scanner Resolution is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Number_Of_Items">Number Of Items</label>
				<input type="Number_Of_Items" formControlName="Number_Of_Items" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Number_Of_Items.errors }" />
				<div *ngIf="submitted && s.Number_Of_Items.errors" class="invalid-feedback">
					<div *ngIf="s.Number_Of_Items.errors.required">Number Of Items is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Display_Technology">Display Technology</label>
				<input type="Display_Technology" formControlName="Display_Technology" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Display_Technology.errors }" />
				<div *ngIf="submitted && s.Display_Technology.errors" class="invalid-feedback">
					<div *ngIf="s.Display_Technology.errors.required">Display Technology is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Display_Size">Display Size</label>
				<input type="Display_Size" formControlName="Display_Size" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Display_Size.errors }" />
				<div *ngIf="submitted && s.Display_Size.errors" class="invalid-feedback">
					<div *ngIf="s.Display_Size.errors.required">Display Size is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Display_Type">Display Type</label>
				<input type="Display_Type" formControlName="Display_Type" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Display_Type.errors }" />
				<div *ngIf="submitted && s.Display_Type.errors" class="invalid-feedback">
					<div *ngIf="s.Display_Type.errors.required">Display Type is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Image_Aspect_Ratio">Image Aspect Ratio</label>
				<input type="Image_Aspect_Ratio" formControlName="Image_Aspect_Ratio" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Image_Aspect_Ratio.errors }" />
				<div *ngIf="submitted && s.Image_Aspect_Ratio.errors" class="invalid-feedback">
					<div *ngIf="s.Image_Aspect_Ratio.errors.required">Image Aspect Ratio is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Are_Batteries_Included">Are Batteries Included</label>
				<input type="Are_Batteries_Included" formControlName="Are_Batteries_Included" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Are_Batteries_Included.errors }" />
				<div *ngIf="submitted && s.Are_Batteries_Included.errors" class="invalid-feedback">
					<div *ngIf="s.Are_Batteries_Included.errors.required">Are Batteries Included is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Batteries_Required">Batteries Required</label>
				<input type="Batteries_Required" formControlName="Batteries_Required" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Batteries_Required.errors }" />
				<div *ngIf="submitted && s.Batteries_Required.errors" class="invalid-feedback">
					<div *ngIf="s.Batteries_Required.errors.required">Batteries Required is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Refresh_Rate">Refresh Rate</label>
				<input type="Refresh_Rate" formControlName="Refresh_Rate" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Refresh_Rate.errors }" />
				<div *ngIf="submitted && s.Refresh_Rate.errors" class="invalid-feedback">
					<div *ngIf="s.Refresh_Rate.errors.required">Refresh Rate is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Includes_Remote">Includes Remote</label>
				<input type="Includes_Remote" formControlName="Includes_Remote" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Includes_Remote.errors }" />
				<div *ngIf="submitted && s.Includes_Remote.errors" class="invalid-feedback">
					<div *ngIf="s.Includes_Remote.errors.required">Includes_Remote is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Operating_system">Operating system</label>
				<input type="Operating_system" formControlName="Operating_system" class="form-control" [ngClass]="{ 'is-invalid': submitted && s.Operating_system.errors }" />
				<div *ngIf="submitted && s.Operating_system.errors" class="invalid-feedback">
					<div *ngIf="s.Operating_system.errors.required">Operating system is required</div>
				</div>
			</div>
		</div>
		<div formGroupName="bulletpoints">
			<div class="form-group">
				<label for="point1">point 1</label>
				<input type="point1" formControlName="point1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.controls.bulletpoints.point1.errors }" />
				<div *ngIf="submitted && f.controls.bulletpoints.point1.errors" class="invalid-feedback">
					<div *ngIf="f.controls.bulletpoints.point1.errors.required">point 1 is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="point2">point 2</label>
				<input type="point2" formControlName="point2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.controls.bulletpoints.point2.errors }" />
				<div *ngIf="submitted && f.controls.bulletpoints.point2.errors" class="invalid-feedback">
					<div *ngIf="f.controls.bulletpoints.point2.errors.required">point 2 is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="point3">point 3</label>
				<input type="point3" formControlName="point3" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.controls.bulletpoints.point3.errors }" />
				<div *ngIf="submitted && f.controls.bulletpoints.point3.errors" class="invalid-feedback">
					<div *ngIf="f.controls.bulletpoints.point3.errors.required">point 3 is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="point4">point 4</label>
				<input type="point4" formControlName="point4" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.controls.bulletpoints.point4.errors }" />
				<div *ngIf="submitted && f.controls.bulletpoints.point4.errors" class="invalid-feedback">
					<div *ngIf="f.controls.bulletpoints.point4.errors.required">point 4 is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="point5">point 5</label>
				<input type="point5" formControlName="point5" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.controls.bulletpoints.point5.errors }" />
				<div *ngIf="submitted && f.controls.bulletpoints.point5.errors" class="invalid-feedback">
					<div *ngIf="f.controls.bulletpoints.point5.errors.required">point 5 is required</div>
				</div>
			</div>
		</div>
		
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Add product</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
  </div>
</div>
